
h1{
	color: white;
}

p{
	color: white;
}

#login{
	background-color: rgb(211,211,211);
	padding: 40px;
	width: 300px;
	margin: auto;
	margin-top: 80px;
	height: 250px;
	margin-left: 180x;
	color: blue;
	opacity: 0.3;
}

#bgimg{
	height: 100%; 
	background-repeat: no-repeat;
	background-size: cover;
}

#msg
{
	visibility:hidden;
	min-width:250px;
	background-color:white;
	color:black;
	text-align:center;
	border-radius:2px;
	padding:16px;
	position:fixed;
	z-index:1;
	right:30%;
	top:30px;
	font-size:17px;
	margin-right:30px;

}
#msg.show
{
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

input
{
	width: 240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: darkblue;
}

button
{
	border: none;
	width: 250px;
	background: grey;
	color: darkblue;
	font-size: 20px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
}

a{
	color: darkviolet;
	text-decoration: blink;
}

a:hover
{
	color:red;
}